Source: exomizer
Section: utils
Priority: optional
Maintainer: TK Chia <tkchia@users.noreply.github.com>
Build-Depends: debhelper (>= 9), quilt, gcc (>= 4.5), libc6-dev (>= 2), bison
Standards-Version: 3.9.6
Homepage: https://bitbucket.org/magli143/exomizer/wiki/Home

Package: exomizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compression for low-resource systems
 Exomizer is a program that compresses files in a way that tries to be as
 efficient as possible but still allows them to be decompressed in
 environments where CPU speed and RAM are limited.  For some popular 8-bit
 computers using 6502 compatible CPUs it can also generate executable files
 that decompress themselves in memory when run.
