#!/usr/bin/make -f

export DH_VERBOSE = 1
ifneq "" "$(wildcard ack-compiler-src/Makefile)"
    SRCDIR ?= $(abspath ack-compiler-src)
    COPY_DOCS ?= true
else
    SRCDIR ?= $(abspath .)
    COPY_DOCS ?= false
endif
BUILDDIR = $(abspath build)
DESTDIR ?= $(abspath debian/ack-compiler)
PREFIX ?= /usr
INSTALL = install -c
INSTALL_DATA = $(INSTALL) -m 0644

%:
	exec dh $@

override_dh_auto_clean:
	$(MAKE) -C '$(SRCDIR)' BUILDDIR='$(BUILDDIR)' clean

override_dh_auto_configure:
	# Take this chance to copy out the documentation files...
	if $(COPY_DOCS); then \
		cp -a '$(SRCDIR)'/README '$(SRCDIR)'/Copyright \
		      '$(SRCDIR)'/CHANGES .; \
	fi

override_dh_auto_build:
	$(MAKE) -C '$(SRCDIR)' BUILDDIR='$(BUILDDIR)' PREFIX='$(PREFIX)'
	# Build documentation files from $(SRCDIR)/doc/*.doc .
	mkdir -p '$(BUILDDIR)/doc'
	ln -s '$(SRCDIR)/doc/Makefile' '$(BUILDDIR)/doc/Makefile'
	set -e -x; \
	for f in '$(SRCDIR)/doc'/*.doc; do \
		b="`basename "$$f"`"; \
		$(MAKE) -f '$(SRCDIR)/doc/proto.make' \
		    SRC_HOME='$(SRCDIR)' TARGET_HOME='$(BUILDDIR)' \
		    '$(BUILDDIR)/doc'/"$$b"; \
	done
	set -e -x; \
	for n in ceg ego int lint; do \
		if [ -f '$(SRCDIR)/doc'/"$$n"/proto.make ]; then \
			$(MAKE) -f '$(SRCDIR)/doc'/"$$n"/proto.make \
			    SRC_HOME='$(SRCDIR)' TARGET_HOME='$(BUILDDIR)' \
			    '$(BUILDDIR)/doc'/"$$n".doc; \
		fi; \
	done
	set -e -x; \
	cd '$(BUILDDIR)/doc'; \
	for f in *.doc; do \
		n="`basename "$$f" .doc`"; \
		$(MAKE) "$$n".dit; \
		grops "$$n".dit >"$$n".ps; \
	done

override_dh_strip:
	# Do not try to strip the library files or example programs which
	# were (cross-)compiled by ACK.
	dh_strip -X.a -X.cpm -X.linux386 -X.linux68k -X.linuxmips \
		 -X.linuxppc -X.osx386 -X.osxppc -X.pc86 -X.pdpv7

override_dh_auto_install:
	$(MAKE) -C '$(SRCDIR)' BUILDDIR='$(BUILDDIR)' \
			       PREFIX='$(DESTDIR)$(PREFIX)' install
	# The name `ack' conflicts with a program of the same name in stock
	# Ubuntu's `ack-grep' package.  Try to avert the conflict --- use
	# the name `ack-cc'.  However, also make sure that the ACK front-end
	# is ultimately invoked under the name `ack', because ACK's internal
	# workings kind of depend on that.
	mv '$(DESTDIR)$(PREFIX)/bin/ack' '$(DESTDIR)$(PREFIX)/lib/ack/ack'
	$(INSTALL) ack-cc '$(DESTDIR)$(PREFIX)/bin/ack-cc'
	mv '$(DESTDIR)$(PREFIX)/share/man/man1/ack.1' \
	   '$(DESTDIR)$(PREFIX)/share/man/man1/ack-cc.1'
	# Install documentation files built from $(SRCDIR)/doc/*.doc .
	$(INSTALL) -d '$(DESTDIR)$(PREFIX)/share/doc/ack-compiler'
	$(INSTALL_DATA) '$(BUILDDIR)/doc'/*.ps \
			'$(DESTDIR)$(PREFIX)/share/doc/ack-compiler'
