#!/usr/bin/make -f

export DH_VERBOSE = 1
DESTDIR ?= $(abspath debian/unexepack.openkb)

%:
	exec dh $@

override_dh_auto_clean:
	rm -f unexepack *.[oa] *~ unexepack

override_dh_auto_configure:
	# Unneeded.

override_dh_auto_build:
	$(CC) $(CPPFLAGS) $(CFLAGS) $(LDFLAGS) unexepack.c -o unexepack

override_dh_auto_test:
	# Unimplemented.

override_dh_auto_install:
	mkdir -p '$(DESTDIR)'/usr/bin
	cp unexepack '$(DESTDIR)'/usr/bin
