[submodule "emu2/emu2-src"]
	path = emu2.dmsc/emu2-src
	url = https://github.com/dmsc/emu2.git
[submodule "minx86dec/minx86dec-src"]
	path = minx86dec/minx86dec-src
	url = https://github.com/joncampbell123/minx86dec.git
[submodule "semblance/semblance-src"]
	path = semblance/semblance-src
	url = https://github.com/zfigura/semblance.git
[submodule "emu2.dmsc/emu2-src"]
	path = emu2.dmsc/emu2-src
	url = https://github.com/dmsc/emu2.git
[submodule "taintgrind/taintgrind-src"]
	path = taintgrind/taintgrind-src
	url = https://github.com/wmkhoo/taintgrind.git
[submodule "taintgrind/valgrind-src"]
	path = taintgrind/valgrind-src
	url = https://sourceware.org/git/valgrind.git
	branch = VALGRIND_3_16_BRANCH
[submodule "taintgrind/capstone-src"]
	path = taintgrind/capstone-src
	url = https://github.com/aquynh/capstone.git
	branch = v3
[submodule "j6-uefi-headers/j6-uefi-headers-src"]
	path = j6-uefi-headers/j6-uefi-headers-src
	url = https://github.com/justinian/j6-uefi-headers.git
